@import "src/shared/shared";

.dialog {
  .label {
    text-align: left;
    color: #4E5660;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
  }

  .channel-choice {
    background-color: #F6F6F7;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;

    input {
      margin-left: 15px;
      width: 25px;
      height: 25px;
    }

    mat-icon {
      margin-left: 8px;
    }
  }

  .label-description {
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;

    .label-description-main {

    }

    .label-description-sub {
      font-size: 12px;
    }
  }
}
