<div class="register">
  <form [formGroup]="registerForm">
    <span class="form-title">Créer un compte</span>
    <br>
    <div *ngIf="!error.isSuccess" class="alert alert-danger" role="alert">
      {{error.message}}
    </div>
    <div class="form-item">
      <label class="mb-2" for="email">e-mail</label>
      <input
        formControlName="email"
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="email" type="email">
      <span *ngIf="email && email.invalid && email.touched" class="mat-error">Email invalide.</span>
    </div>
    <br>
    <div class="form-item">
      <label class="mb-2" for="username">nom d'utilisateur</label>
      <input
        formControlName="username"
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="username" type="text">
      <span *ngIf="username && username.invalid && username.touched" class="mat-error">Doit comporter au moins 3 caractères.</span>
    </div>
    <br>
    <div class="form-item">
      <label class="mb-2" for="password">mot de passe</label>
      <input
        formControlName="password"
        class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="password" type="password">
      <span *ngIf="password && password.invalid && password.touched" class="mat-error">Doit comporter de 3 à 50 caractères.</span>
    </div>
    <br><br>
    <button class="btn form-btn" type="submit" (click)="register()">Continuer</button>
    <div class="form-to-login">
      <a routerLink="/login">Tu as déjà un compte ?</a>
    </div>
  </form>
</div>
